:root {
  --mainsize: 150px;
}

p {
  color: gray;
  font-family: 'Nunito';
  font-weight: 900;
}

.mainwow {
  width: var(--mainsize);
  height: var(--mainsize);
}

.wowpos {
  position: absolute;
  top: calc(25% - var(--mainsize) / 2);
  left: calc(50% - var(--mainsize) / 2);
}

.wowposstatic {
  position: absolute;
  top: calc(50% - var(--mainsize) / 2);
  left: calc(35% - var(--mainsize) / 2);
}

.wowpos:active {
  top: calc(25% - var(--mainsize) / 2 + 5px);
}


.mainangry {
  width: var(--mainsize);
  height: var(--mainsize);
}

.angrypos {
  position: absolute;
  top: calc(25% - var(--mainsize) / 2);
  left: calc(50% - var(--mainsize) / 2);
}

.angryposstatic {
  position: absolute;
  top: calc(50% - var(--mainsize) / 2);
  left: calc(65% - var(--mainsize) / 2);
}

.angrypos:active {
  top: calc(25% - var(--mainsize) / 2 + 5px);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    padding: -10px;
}


/* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {}


/* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: darkgray;
}


/* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {}


/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {}


/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
